#skills {
    overflow: hidden;
    width: 100vw;
    max-width: 65 rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    background: rgb(7, 15, 43);
}

.skillTitle {
    font-size: 3rem;
    font-weight: 600;
    padding-top: 0.1rem;
    margin-bottom: 1.5rem;
}

.skillDesc {
    font-weight: 400;
    font-size: 1rem;
    max-width: 51rem;
    padding: 0 2rem;
}

.skillBars {
    margin: 1.5rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;
}

.skillBar {
    display: flex;
    margin: 1rem;
    padding: 1.5rem;
    border-radius: 1rem;
    background: rgb(3, 12, 40);
    height: 8rem;
}

.skillBarImg {
    object-fit: cover;
    height: 5rem;
    width: 5rem;
    margin-right: 2rem;
}

.skillBarText>p{
    font-size: 0.8rem;
    font-weight: 300;
}

@media screen and (max-width:840px) {
    .skillBarText>p {
        font-size: 1.5vw;
    }
    .skillBarImg {
        object-fit: cover;
        height: 4rem;
        width: 4rem;
    }
    .skillTitle {
        font-size: 2.5rem;
    }
    .skillDesc {
        font-size: 0.9rem;
    }
}

@media screen and (max-width:640px) {
    .skillBarText>p {
        font-size: 1.5vw;
    }
    .skillBarImg {
        height: 3rem;
        width: 3rem;
    }
    .skillTitle {
        font-size: 2rem;
    }
    .skillBars {
        font-size: 0.8rem;
    }
    .skillDesc {
        font-size: 0.8rem;
    }
    .skillBar {
        height: 7rem;
    }
}

@media screen and (max-width:480px) {
    .skillBarText>p {
        font-size: 1.5vw;
    }
    .skillBarImg {
        height: 2.2rem;
        width: 2.2rem;
    }
    .skillTitle {
        font-size: 1.8rem;
    }
    .skillBars {
        font-size: 0.8rem;
    }
    .skillDesc {
        font-size: 0.8rem;
    }
    .skillBar {
        height: 6rem;
    }
}

@media screen and (max-width:420px) {
    .skillBarText>p {
        font-size: 1.5vw;
    }
    .skillBarImg {
        height: 1.9rem;
        width: 1.9rem;
    }
    .skillTitle {
        font-size: 1.7rem;
    }
    .skillBars {
        font-size: 0.6rem;
    }
    .skillDesc {
        font-size: 0.7rem;
    }
    .skillBar {
        height: 6rem;
    }
}