#skills {
    overflow: hidden;
    width: 100vw;
    max-width: 65 rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    background: rgb(7, 15, 43);
}