#experiencePage {
    margin: 0 auto;
    min-height: calc(100vh - 6rem);
    width: 100vw;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.experiencePageTitle {
    margin: 1rem;
    font-size: 3rem;
}

#experience {
    padding: 2 rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.experienceDesc {
    font-weight: 300;
    font-size: 1rem;
    padding: 0 3rem;
}

.experiencesImg {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    max-width: 65rem;
    padding: 0 1rem;
    margin: 1rem 0;
}

.experienceImg {
    object-fit: cover;
    height: 16rem;
    width: calc(45%);
    margin: 0.5rem;
    cursor: pointer;
}

.contactForm {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 60rem;
}

.name, .email, .msg {
    font-size: 0.7rem;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    border-radius: 0.5rem;
    background: rgb(3, 12, 40);
}

.submitBtn {
    background: white;
    border: none;
    border-radius: 1rem;
    margin: 2rem;
    padding: 0.75rem 3.5rem;
    cursor: pointer;
}

.links {
    display: flex;
    flex-wrap: wrap;
}

.link {
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin: 0 0.75rem;
    cursor: pointer;
}

@media screen and (max-width: 965px) {
    .experienceImg {
        height: 15rem;
        width: calc(45%);
    }
}

@media screen and (max-width: 900px) {
    .experienceImg {
        height: 14rem;
        width: calc(45%);
    }
}

@media screen and (max-width: 850px) {
    .experienceImg {
        height: 13rem;
        width: calc(45%);
    }
}

@media screen and (max-width: 840px) {
    .experiencePageTitle {
        font-size: 2.5rem;
    }

    .experienceDesc {
        font-size: 0.9rem;
    }

    .experienceImg {
        height: 12.5rem;
        width: calc(45%);
    }
}

@media screen and (max-width: 750px) {
    .experienceImg {
        height: 11rem;
        width: calc(45%);
    }
}

@media screen and (max-width: 680px) {
    .experienceImg {
        height: 9.5rem;
        width: calc(45%);
    }
}

@media screen and (max-width: 640px) {
    .experiencePageTitle {
        font-size: 2rem;
    }

    .experienceDesc {
        font-size: 0.8rem;
    }

    .experienceImg {
        height: 17rem;
        width: calc(80%);
    }
}

@media screen and (max-width: 590px) {
    .experienceImg {
        height: 15rem;
        width: calc(80%);
    }
}

@media screen and (max-width: 550px) {
    .experienceImg {
        height: 14rem;
        width: calc(80%);
    }
}

@media screen and (max-width: 510px) {
    .experienceImg {
        height: 13rem;
        width: calc(80%);
    }
}

@media screen and (max-width: 480px) {
    .experiencePageTitle {
        font-size: 1.8rem;
    }

    .experienceDesc {
        font-size: 0.8rem;
    }

    .experienceImg {
        height: 12rem;
        width: calc(80%);
    }
}

@media screen and (max-width: 430px) {
    .experienceImg {
        height: 11rem;
        width: calc(80%);
    }
}

@media screen and (max-width: 420px) {
    .experiencePageTitle {
        font-size: 1.6rem;
    }

    .experienceDesc {
        font-size: 0.6rem;
    }

    .experienceImg {
        height: 10.5rem;
        width: calc(80%);
    }

    #experience {
        padding: 2 rem;
    }
}

